@tailwind base;
@tailwind components;
@tailwind utilities;

/*Trick to prevent page shrinking when y scroll appear*/
html {
  overflow-y: scroll; /* Always show scrollbar */
}

::-webkit-scrollbar {
  width: 8px; /* Define the scrollbar width */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Scrollbar color */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

/* For making it fully transparent when not scrolling */
html::-webkit-scrollbar {
  opacity: 0; /* Hide scrollbar when not in use */
}

html:focus-within::-webkit-scrollbar {
  opacity: 1; /* Show scrollbar when content is focused or scrolling */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
